/* 
    Document   : style
    Created on : 16-10-2013, 14:33:03
    Author     : Patrick Christensen
    Description:
        This sheet contains the standard style for the site SiQuoia
*/

root { 
    display: block;
}

body{
    background: #FFFFFF;
    font-family: tahoma, verdana sans-serif;
}

div{
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}

.content{
    background: #FFCF69;
    border-style: inset;
    width: 15%;
}

#formbody{
    margin-left: 5%;
    margin-right: 5%;
}

.logos{
    border-style: dotted;
    border-width: 2px;
}

#logo{
    border-radius: 10px;
}

input{
    border-radius: 10px;
    border-style: dotted;
}

button{
    border-style: solid;
    background: #b38471;
    border-radius: 10px;
}

p{
    
}

h1{
    font-family: impact, sans-serif;
    font-style: normal;
}